* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #f8f9fa;
    padding: 1rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .logo{
    width: 180px;
    margin-right: 20px;
    /* border: 2px solid red; */
  }
  
  .logo img{
    width: 100%;
    height: 100%;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  .collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600 !important;
  }
  
  .nav-link {
    color: #000000;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #0262c8 !important;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover {
    color: #0069d9;
    background-color: #f8f9fa;
  }
  
  .cartIcon {
    margin-right: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
  }
  .count {
    background-color: red;
    color: white;
    line-height: 18px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 2;
    text-align: center;
    padding-inline: 6px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  .cartIcon:hover {
    color: #0069d9;
  }

.Cartcontainer{
    width: 100vw;
    margin-block: 100px;
    display: flex;
    justify-content: space-evenly;
}

.productcart{
    width: 60%;
}

.fa-xmark{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
.itemDetail{
    width: 100%;
}

.itemCard{
    position: relative;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px gainsboro;
}

.itemCard{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.prod-cart-image{
    width: 100px;
}

.cart-item-name{
    color: #535766;
    font-size: 18px;
    line-height: 1;
    margin-block: 10px;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    display: block;
    font-weight: 400;
}

.cart-return{
    font-size: 13px;
    margin-block: 6px;
}
.cart-return .return-date{
    font-weight: 700;
}
.cart-delivery{
    font-size: 11.5px;
}
.cart-delivery .delivery-date{
    font-weight: 700;
    color: rgb(21, 191, 21);
}
.price{
    font-weight: 600;
}


.summary{
    width: 30%;
    height: 250px;
    box-shadow: 0px 0px 2px 2px gainsboro;
    padding: 20px;
}
.price-detail{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
.MRP{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.discount-MRP{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.convenience-fee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin-block: 10px;
}
.order-btn{
    /* width: 100%; */
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(44, 21, 138);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.order-btn:hover{
    background-color: rgb(40, 135, 40);
}
@media (max-width: 960px) {
    .iconclass {
      flex-direction: column;
    }
}
@media (max-width: 770px){
    .productcart{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .summary{
        width: 100%;
    }
  }